{% load filename %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Fjalla+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/h7ncil8yogyrne1lyybkhxt64mn1uvf750wiac1b8randi5n/tinymce/5/tinymce.min.js"></script> 
    <script>tinymce.init({selector:'textarea', height: "175px", menubar:true, statusbar: false, plugins: "save image media link lists fullscreen", toolbar: "styleselect | bold italic | numlist bullist | image media link | fullscreen | save"});</script>
    <title>QuickLynx | {{classroom.room_name}}</title>
    <style>
        body{
            margin: 0;
        }
        li{
            list-style-type: none;
        }
        .links{
            font-size: 25px;
            font-weight: bolder;
            margin: 10px 0 10px;
        }
        li a{
            text-decoration: none !important;
            color: rgb(33,37, 41);
            transition: 0.1s;
            outline: 0;
        }
        li a:hover{
            filter: opacity(50%);
        }
        textarea {
            border: 0 none white;
            overflow: hidden;
            padding: 0;
            outline: none;
            background-color: rgba(0,0,0,0);
            width: auto;
        }
        textarea::placeholder{
            font-weight: bolder;
            color:rgb(185, 194, 206)
        }
        .control-img{
            margin: 0 5px 0;
            cursor: pointer;
        }
        .control-img:hover{
            filter: opacity(50%)
        }
        .form-control:focus{
            border-color: #cccccc;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .aligner {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        
        .aligner-item {
          max-width: 50%;
        }
        
        .aligner-item-top {
          align-self: flex-start;
        }
        
        .aligner-item-bottom {
          align-self: flex-end;
        }
        .upvotedownvote{
            padding: 0;
        }
    </style>
</head>
<body onload="init()">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <!-- LEFT COLUMN -->
                <div class="col-3 border-right border-left" style="min-height: 100vh;">
                    <!-- LOGO -->
                    <div class="row border-bottom text-center" style="min-height: 75px; background: rgb(10, 0, 81); color: white">
                        <div class="col">
                            <h1 style="margin-top: 10px;">QuickLynx</h1>
                        </div>
                    </div>
                    <!-- BUTTONS -->
                    <div class="row sticky-top">
                        <div class="container border-bottom" style="padding: 20px;">
                            <div class="row">
                                <ul>
                                    <li class="links"><a href="/home/">Home</a></li>
                                    <li class="links"><a href="/dashboard/">Dashboard</a></li>
                                    <li class="links"><a href="/message/">Messages</a></li>
                                    <li class="links"><a href="#">Notifications</a></li>
                                    <li class="links"><a href="#">Video Calls</a></li>
                                    <li class="links"><a href="/logout/">Log Out</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="container border-top" style="padding: 20px;">
                            <div class="row">
                                <ul>
                                    <li class="links"><a href="#" id="POST">Posts</a></li>
                                    <li class="links"><a href="#" id="MATERIALS">Materials</a></li>
                                    <li class="links"><a href="#" id="ATTENDANCE">Attendance</a></li>
                                    <li class="links"><a href="#" id="GRADES">Grades</a></li>
                                    <li class="links"><a href="#" id="MEMBERS">Members</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- MIDDLE COLUMN-->
                <div class="col-6 border-right border-left" style="min-height: 100vh;">
                    <!-- HEADER -->
                    {% if classroom.headerpix|length == 0 %}
                        <div class="row border-bottom" style="min-height: 75px; background: rgb(10, 0, 81); color: white;">
                    {%endif%}
                    {% if classroom.headerpix|length > 0 %}
                        <div class="row border-bottom" style="min-height: 75px; background: url({{classroom.headerpix.url}}); color: white; background-size: cover; background-position: center;">
                    {%endif%}
                    <div class="modal" id="changeheaderpix" style="color: black">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Change Header</h4>
                                    <button class="close" type="button" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <form action="/editheader/{{classroom.room_name}}" method="POST" enctype="multipart/form-data">{%csrf_token%}
                                        <img id="blah" src="#" alt="Header" style="object-fit: cover; background-size:cover; background-position:center; height:95px; width:460px">
                                        <div class="form-group">
                                            <input type="file" class="form-control-file" id="imgInp" name="headerpix">
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-info" type="submit">Change</button>
                                        </div>
                                    </form> 
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="aligner col">
                            <h3 style="text-shadow: 0 0 5px black; cursor:pointer; background: rgba(0,0,0,0)" data-toggle="modal" data-target="#editroom" type="button" title="Edit this Room">{{classroom.room_name}}</h3>
                            {% if account.account.login.category == "PROFESSOR" %}
                            <div class="modal" id="editroom" style="color: black">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Edit this classroom</h4>
                                            <button class="close" type="button" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/editclassroom/{{classroom.room_name}}" class="form-group" method="POST">{%csrf_token%}
                                                <div class="form-group">
                                                    <label for="invite_token">Token</label>
                                                    <input type="text" id="invite_token" disabled value="{{classroom.invite_token}}" class="form-control form-control-sm">
                                                </div>
                                                <div class="form-group">
                                                    <label for="room_name">Classroom Name</label>
                                                    <input type="text" placeholder="Classroom Name" name="room_name" class="form-control form-control-sm" value="{{classroom.room_name}}" id="room_name"required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="time_start">Time Start</label>
                                                    <input type="time" name="time_start" id="time_start" class="form-control form-control-sm" value="{{classroom.time_start|time:'H:i'}}" required>
                                                    <label for="time_end">Time End</label>
                                                    <input type="time" name="time_end" id="time_end" class="form-control form-control-sm" value="{{classroom.time_end|time:'H:i'}}" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="days">Days</label>
                                                    <input type="text" name="days" id="days" class="form-control form-control-sm" placeholder="MTh/TF/W/S" value="{{classroom.days}}" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="date_start">Date Start</label>
                                                    <input type="date" name="date_start" id="date_start" class="form-control form-control-sm" value="{{classroom.date_start|date:'Y-m-d'}}" required>
                                                    <label for="date_end">Date End</label>
                                                    <input type="date" name="date_end" id="date_end" class="form-control form-control-sm" value="{{classroom.date_end|date:'Y-m-d'}}" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="year">Year</label>
                                                    <input type="text" name="year_start" id="year" class="form-control form-control-sm" value="{{classroom.year_start}}" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="semester">Semester</label>
                                                    <select class="form-control form-control-sm" id="semester" name="semester" required>
                                                        <option value="" style="color:#999">Choose Semester</option>
                                                        <option value="FIRST" {% if classroom.semester == "FIRST" %} selected {%endif%}>1st Semester</option>
                                                        <option value="SECOND" {% if classroom.semester == "SECOND" %} selected {%endif%}>2nd Semester</option>
                                                        <option value="SUMMER" {% if classroom.semester == "SUMMER" %} selected {%endif%}>Summer</option>
                                                    </select>
                                                </div>
                                                <button type="submit" class="btn btn-info">Confirm Changes</button>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div style="height: 100%; width: 100px; cursor: pointer" title="Change Header" data-toggle="modal" data-target="#changeheaderpix"></div>
                            {%endif%}
                            <span><span data-toggle="modal" data-target="#editaccount" style="font-family: 'Fjalla One', sans-serif; text-shadow: 0 0 5px black; cursor: pointer">{{account.account.first_name}}</span>
                                <div class="modal" id="editaccount" style="color: black; text-shadow: 0 0 0 white">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Edit your name</h4>
                                                <button class="close" type="button" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/editaccount/" method="POST">{%csrf_token%}
                                                    <div class="form-group">
                                                        <label for="fname">First Name</label>
                                                        <input type="text" name="first_name" id="fname" class="form-control form-control-sm" value="{{account.account.first_name}}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="lname">Last Name</label>
                                                        <input type="text" name="last_name" id="lname" class="form-control form-control-sm" value="{{account.account.last_name}}">
                                                    </div>
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-info">Confirm Changes</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                {%if account.account.propix|length == 0 %}
                                    <img src="../media/pictures/default_avatar-2.gif" alt="" style="object-fit: cover; border-radius: 5px; margin: 0 10px 0" height="50px" width="50px">
                                {%endif%}
                                {%if account.account.propix|length > 0 %}
                                    <img src="{{account.account.propix.url}}" alt="" style="object-fit: cover; border-radius: 5px; margin: 0 10px 0" height="50px" width="50px">
                                {%endif%}
                            </span>
                        </div>
                    </div>
                    <!-- TEXT AREA -->
                    <!-- POST TAB -->
                    <div class="MIDDLEPOST" id="MIDDLEPOST" style="display: display;">
                        <form action="/makepost/{{classroom.room_name}}" method="POST">
                            {%csrf_token%}
                            <textarea rows="1" cols="auto" style="height:1em;" id="text" class="col" placeholder="Create Post" name="text"></textarea>
                        </form>
                        <!-- POST CONTROLS -->

                        <!-- BLANK SPACE -->
                        <div class="row" style="height: 10px; background: rgb(222, 226,230)">
                        </div>


                            <!-- INSERT POSTS HERE -->
                            <!-- CREATE YOUR OWN CSS STYLES FOR POSTS -->
                        {%for post in posts reversed%}
                            {%if post.classroom in account.classroom.all%}
                                {%if post.classroom|stringformat:'s' == classroom|stringformat:'s'%}
                                    {%if classroom|stringformat:'s' in account.classroom.all|stringformat:'s'%}
                                        <div class="row border-top border-bottom">
                                            <div class="col-1 text-center upvotedownvote" >
                                                <div id="refreshup{{post.id}}" class="" onclick=upvote({{post.id}})>{%if post in account.upvoted_post.all%}<i class="fas fa-sort-up" style="color:rgb(184, 75, 184)"></i>{%else%}<i class="fas fa-sort-up"></i>{%endif%}</div>
                                                <div id="nums{{post.id}}"class="">{{post.upvotes|add:post.downvotes}}</div>
                                                <div id="refreshdown{{post.id}}" class="" onclick=downvote({{post.id}})>{%if post in account.downvoted_post.all%}<i class="fas fa-sort-down" style="color: rgb(56, 121, 121);"></i>{%else%}<i class="fas fa-sort-down"></i>{%endif%}</div>
                                            </div>
                                            <div class="">
                                                <div class="row">
                                                    <div class="col-1">
                                                        {%if post.account.propix|length == 0 %}
                                                            <img src="../media/pictures/default_avatar-2.gif" alt="" height="25px" width="25px" style="object-fit: cover; margin: 0; border-radius: 50%;">
                                                        {%endif%}
                                                        {%if post.account.propix|length > 0 %}
                                                            <img src="{{post.account.propix.url}}" alt="" height="25px" width="25px" style="object-fit: cover; margin: 0; border-radius: 50%;">
                                                        {%endif%}
                                                    </div>
                                                    <div class="col">
                                                        <span style="font-weight: bold;">{{post.account.first_name}} {{post.account.last_name}}</span><span class="small-size">&nbsp;&nbsp;{{post.date|timesince}} ago</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col" style="padding:5px 50px 0px">
                                                        {{post.text|safe}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {%endif%}
                                {%endif%}
                            {%endif%}
                        {%endfor%}
                    </div>
                    <!-- END OF POST TAB -->

                    <!-- MATERIALS TAB -->
                    <div class="MIDDLEMATERIALS" id="MIDDLEMATERIALS" style="display: none">
                        <div class="row text-center border-bottom select-buttons-materials">
                            <div id="lectures" class="col" style="cursor: pointer; color: rgb(102, 188, 238); background: rgb(10, 0, 81)">Lectures</div>
                            <div id="assignments" class="col border-right border-left" style="cursor: pointer; color: rgb(175, 85, 226);">Assignments</div>
                            <div id="quizzes" class="col" style="cursor: pointer; color: rgb(236, 105, 105);">Quizzes</div>
                        </div>
                        <!-- Lecture button -->
                        <div id="mainlecture">
                        {% if account.account.login.category == "PROFESSOR" %}
                            <div class="row">
                                <button class="btn btn-success col" style="border-radius: 0; margin-bottom: 20px" type="button" data-toggle="modal" data-target="#addlecture">Add Lecture</button>
                            </div>
                        {%endif%}
                        <!-- ADD LECTURE MODAL -->
                        <div class="modal" id="addlecture" style="color: black">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Add Lecture</h4>
                                        <button class="close" type="button" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/addlecture/{{classroom.room_name}}" method="POST" enctype="multipart/form-data">{%csrf_token%}
                                            <div class="form-group">
                                                <label for="lectureno">Lecture No.</label>
                                                <input type="text" id="lectureno" name="no" class="form-control form-control-sm">
                                            </div>
                                            <div class="form-group">
                                                <label for="lectitle">Lecture Title</label>
                                                <input type="text" id="lectitle" name="title" class="form-control form-control-sm">
                                            </div>
                                            <div class="form-group">
                                                <label for="file">File</label>
                                                <input type="file" id="file" name="file_loc" class="form-control-file">
                                            </div>
                                            <button type="submit" class="btn btn-info">Add</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- ADD LECTURE MODAL END -->
                        <!-- button end -->
                        <!-- LECTURE MAIN -->
                            {%for lecture in lectures|dictsort:"no"%}
                            {%if classroom|stringformat:"s" == lecture.classroom|stringformat:"s"%}
                            <div class="row border-top border-bottom" onclick="location.href='/download/{{lecture.file_loc|filename}}'" style="cursor: pointer;">
                                <div class="col-1 border-right aligner ">
                                    <i class="fas fa-book-open" style="color: rgb(164, 211, 207);" class="aligner-item"></i>
                                </div>
                                <div class="col-11">
                                    <span style="font-weight: bold; color: rgb(63, 150, 201);">LECTURE NO. {{lecture.no}} </span>
                                    <span style="font-weight: bold;">{{lecture.title}}</span><br>
                                    <span style="font-size: .7rem; vertical-align:super; color: #888">{{lecture.file_loc|filename|stringformat:'s'}}</span>
                                </div>
                            </div>
                            {%endif%}
                            {%endfor%}
                        </div>
                        <!-- END OF Lectures -->
                        <!-- ASSIGNMENT MAIN -->
                        <div id="mainassignments" style="display: none;">
                            {% if account.account.login.category == "PROFESSOR" %}
                            <div class="row">
                                <button class="btn btn-success col" style="border-radius: 0; margin-bottom: 20px" type="button" data-toggle="modal" data-target="#addassignment">Add Assignment</button>
                            </div>
                            {%endif%}
                            <span class="text-danger"><i class="fas fa-exclamation-triangle text-warning"></i> Under construction</span>
                        </div>
                        <!-- END OF ASSIGNMENT -->
                        <!-- QUIZZES MAIN -->
                        <div id="mainquizzes" style="display: none;">
                            {% if account.account.login.category == "PROFESSOR" %}
                            <div class="row">
                                <button class="btn btn-success col" style="border-radius: 0; margin-bottom: 20px" type="button" data-toggle="modal" data-target="#addquiz">Add Quiz</button>
                            </div>
                            {%endif%}
                            <span class="text-danger"><i class="fas fa-exclamation-triangle text-warning"></i> Under construction 2</span>
                        </div>
                        <!-- END QUIZZES -->
                    </div>
                    <!-- END OF MATERIALS TAB -->
                </div>

                
                <!-- RIGHT COLUMN -->
                <div class="col-3 border-right border-left text-center" style="min-height: 100vh;">
                    <div class="row border-bottom sticky-top" style="min-height: 75px;">
                        <form action="#" class="text-center">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search..">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                                </div>
                            </div>
                        </form>
                        <span class="links" style="margin: 0 5px 0;font-size: 15px; align-self:flex-end">Upcoming <i class="control-img far fa-calendar" title="Create Event"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var observe;
        if (window.attachEvent) {
            observe = function (element, event, handler) {
                element.attachEvent('on'+event, handler);
            };
        }
        else {
            observe = function (element, event, handler) {
                element.addEventListener(event, handler, false);
            };
        }
        function init () {
            var text = document.getElementById('text');
            function resize () {
                text.style.height = 'auto';
                text.style.height = text.scrollHeight+'px';
            }
            /* 0-timeout to get the already changed text */
            function delayedResize () {
                window.setTimeout(resize, 0);
            }
            observe(text, 'change',  resize);
            observe(text, 'cut',     delayedResize);
            observe(text, 'paste',   delayedResize);
            observe(text, 'drop',    delayedResize);
            observe(text, 'keydown', delayedResize);
            
            resize();
        }
    </script>
    <script>
        function upvote(post_id){
            $.ajax({
                url: "/upvote/"+post_id,
                dataType: 'json',
                success: function(){
                    $("#refreshup"+post_id).load(location.href + " #refreshup"+post_id)
                    $("#nums"+post_id).load(location.href + " #nums"+post_id)
                }
            })
        }

        function downvote(post_id){
            $.ajax({
                url: "/downvote/"+post_id,
                dataType: 'json',
                success: function(){
                    $("#refreshdown"+post_id).load(location.href + " #refreshdown"+post_id)
                    $("#nums"+post_id).load(location.href + " #nums"+post_id)
                }
            })
        }
    </script>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
              var reader = new FileReader();
              
              reader.onload = function(e) {
                $('#blah').attr('src', e.target.result);
              }
              
              reader.readAsDataURL(input.files[0]);
            }
          }
          
          $("#imgInp").change(function() {
            readURL(this);
          });
    </script>
    <script>
        $(function(){
            $("#POST").click(function(e){
                $("#MIDDLEPOST").css("display", "block")
                $("#MIDDLEMATERIALS").css("display", "none")
            })
            $("#MATERIALS").click(function(e){
                $("#MIDDLEPOST").css("display", "none")
                $("#MIDDLEMATERIALS").css("display", "block")
            })
        })
    </script>
    <script>
        $(function(){
            $("#lectures").click(function(e){
                $("#mainlecture").css("display", "block")
                $("#mainassignments").css("display", "none")
                $("#mainquizzes").css("display", "none")
                $("#lectures").css("background", "rgb(10, 0, 81)")
                $("#assignments").css("background", "rgb(255,255,255)")
                $("#quizzes").css("background", "rgb(255,255,255)")
            })
            $("#assignments").click(function(e){
                $("#mainlecture").css("display", "none")
                $("#mainassignments").css("display", "block")
                $("#mainquizzes").css("display", "none")
                $("#lectures").css("background", "rgb(255,255,255)")
                $("#assignments").css("background", "rgb(70, 22, 97)")
                $("#quizzes").css("background", "rgb(255,255,255)")
            })
            $("#quizzes").click(function(e){
                $("#mainlecture").css("display", "none")
                $("#mainassignments").css("display", "none")
                $("#mainquizzes").css("display", "block")
                $("#lectures").css("background", "rgb(255,255,255)")
                $("#assignments").css("background", "rgb(255,255,255)")
                $("#quizzes").css("background", "rgb(107, 16, 16)")
            })
        })
    </script>
</body>
</html>